---
import Button from "../../components/Button.astro";
import Dialog from "../../components/react/Dialog.jsx";
import Input from "../../components/Input.astro";
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
---

<section class="landing-section">
  <div class="flex-container">
    <div class="item-1">
      <h1>Know your net worth today.</h1>
      <p>
        Grow your net worth by knowing what you are worth today. Download the
        free <strong>personal balance sheet template below</strong>
         and use this to calculate your net worth today. Measure what you want
        to manage - your wealth.
      </p>
      <Dialog
        transition:animate={fade({ duration: "0.4s" })}
        client:visible
        id="dialog"
        open="> Download Free"
      >
        <Button
          className="dialog-button"
          text="> Download Free"
          slot="open-dialog"
        />
        <Button
          className="close-button"
          id="close-button"
          text="Close"
          slot="close-dialog"
        />
        <div
          class="dialog-content"
          style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%"
        >
          <p>Please enter your email and you're good to go!</p>
          <Input width="250px" type="email" />
          <Button text="Send me the file" className="download-btn" />
        </div>
      </Dialog>
    </div>
    <div class="item 2">
      <img src="/landing.jpg" class="landing-picture" alt="landing" />
    </div>
  </div>
</section>
<ViewTransitions />

<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p {
    font-family: "Futura light";
    font-weight: light;
  }

  .item-1 {
    flex: 2;
    margin-bottom: 10px;
  }

  .item-2 {
    flex: 1;
  }

  img {
    /* max-width: 400px; */
    max-height: 600px;
  }

  @media (min-width: 500px) {
    /* .landing-section {
      padding: 25px 16px 50px 16px;
    } */
    .flex-container {
      flex-direction: row;
    }
    .landing-section img {
      width: 300px;
    }
    .item-1 {
      margin-right: 50px;
    }

    .landing-section .btn {
      display: flex;
      margin: auto;
    }

    .landing-section .item-1 {
      width: 100%;
    }
  }
</style>
<script>
  import { isDialogOpen } from "../../states";
  function openDialog() {
    isDialogOpen.set(true);
  }
  function closeDialog() {
    isDialogOpen.set(false);
  }
  document
    .querySelector(".dialog-button")
    ?.addEventListener("click", openDialog);
  document
    .querySelector(".close-button")
    ?.addEventListener("click", closeDialog);
</script>
