---
import Button from "../../components/Button.astro";
import Dialog from "../../components/Dialog.astro";
import { dialogIntents } from "../../states";
import Input from "../../components/Input.astro";
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
---

<section class="landing-section">
  <div class="flex-container">
    <div class="item-1">
      <h1>Know your net worth today.</h1>
      <p>
        Grow your net worth by knowing what you are worth today. Download the
        free <strong style={{ fontFamily: "Futura bold" }}
          >personal balance sheet template below</strong
        >
         and use this to calculate your net worth today. Measure what you want
        to manage - your wealth.
      </p>
      <Dialog transition:animate={fade({ duration: "0.4s" })} id="first-dialog">
        <Button
          className="dialog-button"
          text={dialogIntents[0]}
          slot="open-dialog"
          id="dialog-1"
        />
        <Button
          className="close-button"
          id="close-button"
          text="Close"
          slot="close-dialog"
        />
        <form
          id="first-dialog-form"
          class="dialog-content"
          style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%"
        >
          <h5 id="dialog-title">
            Please enter your email and you're good to go!
          </h5>
          <Input
            id="email"
            width="250px"
            type="email"
            placeholder="Your email"
          />
          <Button
            type="submit"
            text="Send me the file"
            className="download-btn"
          />
        </form>
      </Dialog>
    </div>
    <div class="item 2">
      <img src="/landing.jpg" class="landing-picture" alt="landing" />
    </div>
  </div>
</section>
<ViewTransitions />

<style>
  .landing-section {
    padding: 10px 1em 50px 1em;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p {
    font-family: "Futura light";
    font-weight: light;
  }

  .item-1 {
    flex: 2;
    margin-bottom: 10px;
  }

  .item-2 {
    flex: 1;
  }

  img {
    max-height: 600px;
  }

  .landing-section #dialog-title {
    color: black;
    font-family: "Futura light";
    margin-bottom: 50px;
    width: 250px;
  }

  @media (min-width: 800px) {
    .landing-section {
      padding: 50px 80px 30px 80px;
      margin: 0;
      max-width: 1100px;
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    .flex-container {
      flex-direction: row;
      justify-content: space-between;
    }
    .landing-section img {
      width: 450px;
    }
    .item-1 {
      margin-right: 150px;
    }

    .landing-section .btn {
      display: flex;
      margin: auto;
    }

    .landing-section .item-1 {
      width: 100%;
    }
    .landing-section #dialog-title {
      width: 800px;
    }
  }
</style>
<script>
  import contentful from "../../lib/contentful";

  const cmsClient = new contentful(
    "CFPAT-Fv8bCvvESWMdNndVTO3yP-73aO_RfUfHEl5GoDxrKj8",
    "noepe1fl3llv"
  );
  const fileURL =
    "https://assets.ctfassets.net/noepe1fl3llv/679VJyNJsKfZPLr991hBKz/cb20d72f6bae21b265bc87dda19e7548/Personal_Balance_Sheet.xlsx";
  function openDialog() {
    document.querySelector("#first-dialog")?.showModal();
  }
  function closeDialog() {
    document.querySelector("#first-dialog")?.close();
  }
  let elements = document.querySelectorAll(".dialog-button");
  elements.forEach((element) => {
    if (element.textContent == "> Download Free") {
      element.addEventListener("click", openDialog);
    }
  });

  let closeButtons = document.querySelectorAll(".close-button");
  closeButtons[0].addEventListener("click", closeDialog);

  const form = document.getElementById("first-dialog-form");
  form?.addEventListener("submit", async function (e) {
    e.preventDefault();
    const userInput = document.getElementById("email")?.value;
    // console.log(userInput);
    await cmsClient.downloadFile(userInput, fileURL);
    const newHTMLContent =
      "<p>Congratulations on your first step towards financial freedom! 🎉</p>";
    form.innerHTML = newHTMLContent;
  });
</script>
