---
import Dialog from "../../components/Dialog.astro";
import Button from "../../components/Button.astro";
import { dialogIntents } from "../../states";
import Input from "../../components/Input.astro";
---

<section class="second-section">
  <div class="flex-container">
    <div class="item-1">
      <h2 class="title">Redefine your relationship with money.</h2>
      <p class="description">
        Personal finance is the art of managing your money. How much to save,
        where to invest and how to budget - none of us are born knowing how to
        put together a smart, simple financial plan. That’s why we’re here. At
        WiserGates, we want to help everyone get better at money.
      </p>
      <break></break>
      <h5>Corporates we worked with:</h5>
      <div class="logo">
        <img src="/client_one_logo.png" class="landing-picture" alt="landing" />
      </div>
    </div>
    <div class="box">
      <h4>Are you a corporate?</h4>
      <img src="/arrow.png" class="arrow" alt="down-arrow" />
      <p class="desc">
        We offer free group masterclasses to corporates. We found out that the
        will to change and improve happens much stronger in a group. <strong
          >Sign up for a free group masterclass below.</strong
        >
      </p>
      <Dialog id="second-dialog">
        <Button
          className="dialog-button"
          reverse="reverse"
          text={dialogIntents[1]}
          slot="open-dialog"
          id="dialog-2"
        />
        <Button
          className="close-button"
          id="close-button"
          text="Close"
          slot="close-dialog"
        />
        <form
          id="second-dialog-form"
          class="dialog-content"
          style="display: flex; flex-direction: column; justify-content: center;
        align-items: center; text-align: center; height: 100%"
        >
          <h5 id="dialog-title">
            Please fill in below and one of our team members will reach out to
            find a slot with you.
          </h5>
          <Input id="name" type="text" width="280px" placeholder="Your name" />
          <Input
            id="email"
            type="text"
            width="280px"
            placeholder="Your email"
          />
          <Input
            id="phone"
            type="number"
            width="280px"
            placeholder="Your phone"
          />
          <Input
            id="company"
            type="text"
            width="280px"
            placeholder="Your company"
          />
          <Input
            id="reason"
            type="text"
            width="280px"
            placeholder="Why do you want a group masterclass at your company?"
          />
          <Button type="submit" text="Contact me" className="contact-me-btn" />
        </form>
      </Dialog>
    </div>
  </div>
</section>

<style>
  .second-section {
    background-color: #58585a;

    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .second-section h2 {
    color: #fec240;
    font-family: "Futura medium";
    font-weight: normal;
  }

  .second-section h5 {
    color: #fec240;
    font-family: "Futura medium";
    font-weight: normal;
  }

  .second-section p {
    color: white;
    font-family: "Futura light";
    font-weight: light;
  }

  .second-section button {
    font-family: "Futura medium";
    font-weight: normal;
    background-color: black;
    color: #fec240;
    border: none;
    border-radius: 10px;
    padding: 18px 26px;
    transition: all 0.2s ease-in-out;
  }

  .second-section button:hover {
    background-color: white;

    color: black;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1em;
  }

  .item-1 {
    flex: 2;
    margin-right: 35px;
    max-width: 450px;
  }

  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px 0;

    background-color: #fec240;
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    left: 50%;
    transform: translate(-50%);
  }

  .box h4 {
    color: black;
  }

  .box .arrow {
    width: 15px;
  }

  .box p {
    color: black;
    width: 80%;
  }

  .second-section #dialog-title {
    color: black;
    font-family: "Futura light";
    margin-bottom: 50px;
    width: 250px;
  }

  @media (min-width: 800px) {
    .second-section {
      margin: auto;
    }
    .flex-container {
      flex-direction: row;
      padding: 50px 80px;
      padding-bottom: 0;
      max-width: 1100px;
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    .box {
      left: auto;
      transform: none;
      margin-top: 0;
      max-width: 500px;
      height: 500px;
    }
    .landing-section #dialog-title {
      width: 800px;
    }
    .second-section #dialog-title {
      font-family: "Futura light";
      margin-bottom: 30px;
      width: 500px;
    }
  }
</style>
<script>
  import contentful from "../../lib/contentful";

  const cmsClient = new contentful(
    "CFPAT-Fv8bCvvESWMdNndVTO3yP-73aO_RfUfHEl5GoDxrKj8",
    "noepe1fl3llv"
  );
  function openDialog() {
    document.querySelector("#second-dialog")?.showModal();
  }
  function closeDialog() {
    document.querySelector("#second-dialog")?.close();
  }

  let elements = document.querySelectorAll(".dialog-button");
  elements.forEach((element) => {
    if (element.textContent == "Sign Up") {
      element.addEventListener("click", openDialog);
    }
  });

  let closeButtons = document.querySelectorAll(".close-button");
  closeButtons[1].addEventListener("click", closeDialog);
  const form = document.getElementById("second-dialog-form");
  form?.addEventListener("submit", async function (e) {
    e.preventDefault();
    let name = document.getElementById("name")?.value;
    let email = document.getElementById("email")?.value;
    let phone = document.getElementById("phone")?.value;
    let company = document.getElementById("company")?.value;
    let reason = document.getElementById("reason")?.value;
    // name = "tan";
    // email = "tan@gmail.com";
    // phone = "0143242";
    // company = "wisergates";
    // reason = "fsdfs";

    // console.log(name, email, phone, company, reason);
    cmsClient
      .contactRequest(name, email, phone, company, reason)
      .then((res) => {
        // console.log(res);
        const newHTMLContent =
          "<p>We're contacting you in the next 24 hours! 😊</p>";
        form.innerHTML = newHTMLContent;
      });
  });
</script>
